@charset "UTF-8";
/** CSS reset **/
* {
  box-sizing:border-box;
}
body {
  width: 100%;
  margin:0;
  padding:0;
  font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  /*font-family: 'Microsoft YaHei','Arial','Helvetica Neue','Open Sans', sans-serif;*/
  background: #f0efe9;
}
ul,li,h1,h2,h3,h4,h5,h6,p {
  margin:0;
  padding:0;
}
ul,li {
  list-style:none;
}
a {
  color:#333;
  text-decoration: none;
  transition:.5s all;
}
a:hover, a:active {
  color:#f11c2a;
  transition:.5s all;
}
.clearfix {
  content:"";
  display: block;
  clear: both;
}
/** icon font **/
.icon {
  font-family: 'iconfont' !important;
  font-size:20px;
  font-style: normal;
  vertical-align: middle;
}

/** nav **/
.nav {
  width: 100%;
  height: 57px;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.nav>.container {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}
.logo, .lt-nav {
  float: left;
}
a.logo {
  width: 144px;
  height: 47px;
  margin-top: 5px;
  vertical-align: middle;
  margin-right: 50px;
}
a.logo>img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.lt-nav {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-start;
}
.lt-nav>li {
  text-align: left;
}
.lt-nav>li a {
  display: block;
  font-size: 16px;
  margin-right: 15px;
  padding: 16px 8px 0 8px;
  border-top: 3px solid transparent;
}
.lt-nav li:hover a, .lt-nav li.active a {
  border-top: 3px solid #f11c2a;
  color: #f11c2a;
}
.lt-nav li:last-child:hover a, .lt-nav li:last-child.active a {
  border-top: 3px solid transparent;
}
.rt-nav {
  float: right;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  padding: 11px 0 0 0;
}
.rt-nav>li {
  display: inline-block;
  text-align: right;
  margin-left: 20px;
}
.rt-nav .search input[type=search] {
  width: 178px;
  height: 30px;
  border: 1px solid #efefef;
  outline: none;
  border-radius: 25px;
  background: #e1e1e1;
  padding: 2px 0 2px 10px;
  color: #333;
}
input::placeholder {
  color: #999;
  font-size: 12px;
}
.rt-nav li.search {
  position: relative;
}
.icon-sousuo {
  cursor: pointer;
  font-size: 17px;
  color: #999;
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 102;
  margin-top: -9px;
}
.rt-nav li.wyzb {
  padding: 5px 0;
}
.rt-nav li.wyzb a {
  font-size: 13px;
  margin: 0 10px;
  vertical-align: middle;
}
.icon-bofang4, .icon-shouji {
  font-size: 21px;
  color: #666;
  vertical-align: middle;
  margin-right: 6px;
  transition: all .5s;
}
.rt-nav li.wyzb>a:hover .icon-bofang4, .rt-nav li.wyzb>a:hover .icon-shouji {
  color: #f11c2a;
}
.rt-nav .user-action>a {
  font-size: 14px;
  padding: 10px 5px 10px 10px;
}

/* 登录后 顶部导航条上展示的用户头像 */
.nav .rt-nav .user-action>a.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
}
.nav .rt-nav .user-action>a.avatar img {
  width:100%;
  height: 100%;
  vertical-align: middle;
  background: #ddd;
}

/*********************************************** common css **********************************************/

/* 布局  */
.layout:after {
  content: '';
  display: block;
  clear: both;
}
.layout {
  width: 100%;
  margin: 0 auto;
  margin-top: 56px;
}
.main-menu {
  width: 48px;
  min-height: 100vh;
  float: left;
}
.main-panel {
  min-height: 100vh;
  overflow: auto;
  /*background: #caedf9;*/
  padding-left: 16px;
}


/*** side nav start  ***/
.main-menu {
  /*width: 60px;*/
  /*min-height: 100vh;*/
  background:#333;
  border-right:1px solid #e5e5e5;
  overflow: hidden;
  -webkit-transition:width .3s linear;
  transition:width .3s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}

.main-menu:hover, .main-menu:focus {
  width:250px;
  overflow: hidden;
  opacity: 1;
}

.fa {
  display: table-cell;
  width: 60px;
  height: 46px;
  text-align: center;
  font-size: 20px;
  padding-right: 23px;
}

.main-menu>.menu-icon {
  margin-top: -6px;
}

.main-menu>.menu-icon li {
  display:block;
  width: 250px;
  padding: 6px 0;
  position: relative;
}

.main-menu>.menu-icon li>a {
  position: relative;
  display: block;
  width: 250px;
  color:#999;
  font-size: 16px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .14s linear;
  transition:all .14s linear;
}

.line {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 225px;
  height: 1px;
  border-bottom: 1px solid #292929;
  background: #292929;
  box-shadow: 0 0 1px 1px #3b3b3b;
  -webkit-box-shadow: 0 0 1px 1px #3b3b3b;
  -moz-box-shadow: 0 0 1px 1px #3b3b3b;
  -o-box-shadow: 0 0 1px 1px #3b3b3b;
  -ms-box-shadow: 0 0 1px 1px #3b3b3b;
}

.main-menu>.menu-icon li.active>a {
  background: #f11c2a;
  color: #fff;
}

.main-menu>.menu-icon li:hover>a, .main-menu>.menu-icon li:focus>a {
  color:#f11c2a;
  background-color: transparent;
  border-left: 3px solid #f11c2a;
}

.main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  width:190px;
}

.main-menu>.hot {
  opacity: 0;
  width: 240px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 50px 20px 20px 20px;
  position: relative;
}

.main-menu>.games::before {
  content: '热门游戏';
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #888;
}

.main-menu>.cashs::before {
  content: '热门现金网';
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 16px;
  color: #888;
}

.main-menu>.hot li {
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
}

.main-menu>.hot li>a {
  display: block;
  text-align: center;
  width: 96px;
  height: 28px;
  color: #999;
  font-size: 14px;
  line-height: 18px;
  background: rgba(255,255,255,.15);
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
}

.main-menu>.hot li>a:hover, .main-menu>.hot li>a:focus {
  color: #fff;
}

.reds {
  opacity: 0;
  width: 240px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 20px 20px;
}

.reds>li a {
  display: inline-block;
  width: 96px;
  height: 36px;
  line-height: 26px;
  font-size: 14px;
  padding: 5px 0;
  background: #f11c2a;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}

.reds>li>a .icon {
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

.hot-text {
  opacity: 0;
  width: 180px;
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-content: center;
}

.hot-text>a {
  display: inline-block;
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.hot-text>a:hover , .hot-text>a:focus {
  color: #f11c2a;
}

.main-menu:hover .hot,
.main-menu:focus .hot,
.main-menu:hover .line,
.main-menu:focus .line,
.main-menu:hover .reds,
.main-menu:focus .reds,
.main-menu:hover .hot-text,
.main-menu:focus .hot-text {
  opacity: 1;
}

/* 全部直播- 最新直播 */
.online-game {
  width: 100%;
}
.online-game>h2 {
  font-size: 22px;
  color: #333;
  text-align: left;
  margin: 30px 0 16px 0;
}
.online-game>ul.video-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.online-game>ul.video-list>li {
  width: 316px;
  height: 260px;
  cursor: pointer;
  margin: 0 16px 16px 0;
  background: #fff;
  border: 1px solid #e0e0e0;
}
.online-game>ul.video-list>li>a {
  display: block;
  width: 316px;
  height: 176px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.online-game>ul.video-list>li>a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.online-game .f2-cover {
  padding: 10px 10px 5px 10px;
  font-size: 14px;
  overflow: hidden;
}
.online-game .f2-cover span {
  cursor: pointer;
  float: left;
  font-size: 14px;
  color: #333;
  text-align: left;
  max-width: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.online-game .f2-cover span:hover {
  color: #f11c2a;
}
.online-game .f2-cover a {
  float: right;
  font-size: 14px;
  color: #888;
  text-align: right;
}
.online-game a>.icon-usergroup {
  font-size: 16px;
  color: #888;
  margin-right: 4px;
}
.online-game .f2-view {
  font-size: 14px;
  color: #888;
  text-align: left;
  padding: 5px 10px 5px 10px;
}
.online-game .f2-view>a.avatar {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ddd;
  vertical-align: middle;
  overflow: hidden;
}
.online-game .f2-view>.avatar img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.online-game .f2-view b.name2 {
  cursor: pointer;
  display: inline-block;
  max-width: 110px;
  font-size: 12px;
  color: #888;
  text-align: left;
  margin-left: 4px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.online-game .f2-view>.label>span {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  color: #666;
  padding: 3px 7px;
  text-align: center;
  background: #e0e0e0;
  border-radius: 20px;
}
.online-game .f2-cover>span {
  float: left;
  font-size: 14px;
  color: #333;
  text-align: left;
  max-width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}